---
// Script : props optionnelles - retravailler quand j'aurai le vrai logo : ne pas laisser l'image et affiner le svg
import Navigation from './Navigation.astro';
import logo from '../images/logopauline.svg';

const {
  altLogo = "Logo",
} = Astro.props;
---
<header>

<div class="header-logo" aria-label={altLogo}>
    
<img src={logo.src} alt={altLogo} width="50" height="50"> 

</div>

<Navigation>

</Navigation>
  

</header>

<style>

header {
  position: relative;
  background: var(--color-bg1); 
  color: var(--color-text);
  display: flex;
  align-items: center;
  padding-right: 20rem;
  padding-bottom: 0.5rem;
}

header::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-bg2),
    transparent
  );
}

.header-logo {
  display: flex;
  padding: 1rem 15rem;
}
.header-logo img {
  height: 80px;
  width: auto;
  overflow: hidden;
}

.header-logo svg {
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}



@media (max-width: 900px) {
  header {
    padding-right: 1rem;
    padding-bottom: 3rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .header-logo {
    padding: 0.75rem 1rem;
  }

 
}

@media (max-width: 480px) {
  header {
    padding-right: 0.5rem;
  }
  .header-logo {
    padding: 0.5rem;
  }
}

</style>