---
interface Props {
  titre: string;
  lienLabel?: string;
  lienHref?: string;
  image: any;
}

const {
  titre,
  lienLabel = "Parlons de votre projet",
  lienHref = new URL('contact', Astro.url).pathname,
  image
} = Astro.props;
---

<div class="hero-service" style={`--bg: url(${image.src})`}>
  <div class="text-hero-service" data-aos="zoom-in"  >
    <div class="main-text"><h2>{titre}</h2></div>
    <div class="secondary-text">
    <slot />  
    </div> 
    <a href={lienHref} class="bouton-fonce">{lienLabel}</a>
  </div>
</div>

<style>

.hero-service {
  position: relative; 
  background-image: var(--bg);
  background-size: cover;        /* ← étire l'image pour couvrir tout le div */
  background-position: center;   /* ← centre l'image */
  background-repeat: no-repeat;  /* ← empêche la répétition */
  background-attachment:scroll;
  width: 100%;  /*100vw; pleine largeur*/
  min-height: calc(100vh - 80px);
  min-height: calc(100svh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  box-sizing: border-box;  
}

/* Overlay blanc 
.hero-service::before {
  content: '';
  position: absolute;
  inset: 0;                      
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
} */


.text-hero-service {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  max-width: 100%;
  margin: 0;
  padding: 5%;
  gap: 1rem;
}
.text-hero-service h2 {
  margin: 0 0 0.5rem 0;
  color: var(--color-text);
}
.text-hero-service .secondary-text {
  
  margin: 0;  
  color: var(--color-text);
  font-size: inherit;
  line-height: inherit;
}

.secondary-text p {
  margin: 0;
}

.text-hero-service * {
  max-width: 100%;                 /* TOUT texte respecte */
  word-wrap: break-word;
  box-sizing: border-box;
}




@media (max-width: 768px) {
  .hero-service {
    padding: 1.5rem 5%;
    min-height: 100vh;
    min-height: 100svh; 
   } }

@media (min-width: 1024px) {
  .hero-service {
    background-attachment: fixed;
  }
  

  .text-hero-service {
    align-items: center;
    text-align: center;
    margin: 0;
    max-width: 100%;
  }
  .bouton-fonce {
    display: block !important;
    margin-inline: auto !important;
    width: fit-content;
  }
}
</style>